In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

# test3

# 1-1

In [34]:
df = pd.read_csv('dataset/tweets2.csv')

In [35]:
df.shape

(313, 13)

In [36]:
df = df.set_index('No')

In [37]:
df['totalSum'] = df.iloc[:, 3:].sum(axis=1)

In [38]:
df.head()

,atConference,day,impressions,retweets,likes,userprofileclicks,urlClicks,hashtagClicks,detailExpands,follows,mediaViews,mediaEngagements,totalSum
No,,,,,,,,,,,,,
1,False,2017-10-26,40,0,1,0,0,0,2,0,0,0,3
2,False,2017-10-26,876,1,7,2,0,0,3,0,0,0,13
3,False,2017-10-25,131,0,2,0,0,0,4,0,0,0,6
4,False,2017-10-25,1449,2,8,8,0,0,2,0,0,0,20
5,False,2017-10-26,147,0,3,0,0,0,2,0,20,2,27

# Q1
# 위의 전처리한 데이터를 이용하여 리-트윗 횟수(retweets)가 0이 아닌 데이터를 대상으로 
# 실시간 중계 여부(atConference)별로 좋아요 클릭 수(‘likes’)의 평균을 출력하세요.

In [39]:
df[df['retweets'] != 0].groupby('atConference')['likes'].mean()

atConference
False    15.862069
True      2.269231
Name: likes, dtype: float64

# test4

In [40]:
df = pd.read_csv('dataset/travel_insurance2.csv')
df = df.replace({'Null': np.nan, 'N/A': np.nan, '': np.nan})
df.shape

(63326, 12)

## 1-1

In [41]:
df = df.drop(columns=['ProductName', 'NetSales'])

## 1-2

In [42]:
# def get_gender(row):
#     if pd.isna(row['Gender']) & (row['NO'] % 2 == 0):
#         return 'M'
#     elif pd.isna(row['Gender']) & (row['NO'] % 2 != 0):
#         return 'F'
#     else:
#         return row['Gender']

In [43]:
# df['Gender'] = df.apply(lambda x: get_gender(x), axis=1)

In [44]:
df.loc[(df['Gender'].isna()) & (df['NO'] % 2 == 0), 'Gender'] = 'M'
df.loc[(df['Gender'].isna()) & (df['NO'] % 2 != 0), 'Gender'] = 'F'

In [45]:
df['Gender'].isna().sum()

0

In [46]:
basetable1 = df.copy()

## Q1

In [53]:
basetable1[(basetable1['Age'] >= 40) & \
           (basetable1['Age'] < 50) & \
           (basetable1['Gender'] == 'F')]['Destination']\
           .value_counts()

SINGAPORE                   1352
MALAYSIA                     439
THAILAND                     434
INDONESIA                    362
AUSTRALIA                    323
                            ...
TUNISIA                        1
MAURITIUS                      1
IRAN ISLAMIC REPUBLIC OF       1
COSTA RICA                     1
RUSSIAN FEDERATION             1
Name: Destination, Length: 72, dtype: int64

# test5

# 1-1

In [54]:
df = pd.read_csv('dataset/Train_data.csv')

In [56]:
df = df.dropna(subset=['join_date'])

In [61]:
df['join_date'] = pd.to_datetime(df['join_date'],\
                                 format='%d/%m/%Y')

In [64]:
df['reg_age'] = df['join_date'].dt.year - df['birth_year'] + 1

# 1-2

In [68]:
col = [f'P{i}' for i in range(1, 22)]

In [71]:
df['total'] = df.filter(regex='^P').sum(axis=1)

In [73]:
df['VIP'] = np.where(df['total'] >= 4, 'VIP', 'Not VIP')

In [75]:
df.shape

(29130, 29)

In [76]:
basetable1 = df.copy()

# Q1

In [79]:
basetable1.groupby('branch_code')['reg_age'].mean().idxmax()

'49BM'

In [81]:
basetable1.groupby('branch_code')['reg_age'].mean()\
          .sort_values(ascending=False)

branch_code
49BM    42.745572
ZFER    40.631861
EU3L    40.222222
XX25    39.732620
BOAS    39.602305
O4JC    39.500000
E5SW    39.376138
748L    39.300184
30H5    39.258013
X23B    39.212121
9F9T    38.946387
94KC    38.857572
UAOD    38.736242
1X1H    38.534919
O67J    36.911032
Name: reg_age, dtype: float64

# Q2

In [84]:
basetable1.groupby(['birth_year', 'sex'])['total'].sum().idxmax()

(1983, 'M')

# Q3

In [89]:
basetable1[basetable1['birth_year'] <= 1990][['P1', 'P21']]\
.corr().round(2)

       P1   P21
P1   1.00  0.01
P21  0.01  1.00

# Q4

In [92]:
basetable1[(basetable1['birth_year'] <= 1980) &
           (basetable1['sex'] == 'F') &
           (basetable1['VIP'] == 'VIP')]\
    .groupby('branch_code').size().idxmax()

'748L'

# Q5

In [98]:
basetable1[basetable1['join_date'].dt.month <= 6]\
    .groupby('sex')['reg_age'].mean()

sex
F    40.314175
M    39.233391
Name: reg_age, dtype: float64

In [100]:
round(40.314175 - 39.233391, 1)

1.1

## 1. max : 49BM, 세번째 : EU3L
## 2. 1983, 'M'
## 3. 0.01
## 4. 748L
## 5. 1.1